In [2]:
import pandas as pd

In [3]:
df = pd.read_excel('/Users/cheon/Desktop/조교/Input Data/엑셀/web_of_sci_account.xlsx')

In [4]:
df

,PT,AU,BA,BE,GP,AF,BF,CA,TI,SO,...,WC,WE,SC,GA,PM,OA,HC,HP,DA,UT
0,J,"Akhter, H; Rahman, AAA; Jafrin, N; Saif, AM; E...",NaN,NaN,NaN,"Akhter, Hamida; Rahman, Abdul Aziz Abdul; Jafr...",NaN,NaN,Investigating the barriers that intensify unde...,COGENT EDUCATION,...,Education & Educational Research,Emerging Sources Citation Index (ESCI),Education & Educational Research,NaN,NaN,NaN,NaN,NaN,2023-01-30,WOS:000748380200001
1,J,"Bhatti, OK; Irfan, M; Ozturk, AO; Maham, R",NaN,NaN,NaN,"Bhatti, Omar Khalid; Irfan, Muhammad; Ozturk, ...",NaN,NaN,Organizational inclusion through interaction o...,COGENT BUSINESS & MANAGEMENT,...,Business,Emerging Sources Citation Index (ESCI),Business & Economics,NaN,NaN,NaN,NaN,NaN,2023-01-30,WOS:000783333700001
2,J,"Crysdian, C",NaN,NaN,NaN,"Crysdian, Cahyo",NaN,NaN,The evaluation of higher education policy to d...,COGENT EDUCATION,...,Education & Educational Research,Emerging Sources Citation Index (ESCI),Education & Educational Research,NaN,NaN,NaN,NaN,NaN,2023-01-30,WOS:000834677700001
3,J,"Galendi, JSC; Yeo, SY; Simic, D; Grull, H; Sto...",NaN,NaN,NaN,"Galendi, Julia Simoes Correa; Yeo, Sin Yuin; S...",NaN,NaN,A time-driven activity-based costing approach ...,INTERNATIONAL JOURNAL OF HYPERTHERMIA,...,"Oncology; Radiology, Nuclear Medicine & Medica...",Science Citation Index Expanded (SCI-EXPANDED),"Oncology; Radiology, Nuclear Medicine & Medica...",NaN,35021942.0,NaN,NaN,NaN,2023-01-30,WOS:000741719800001
4,J,"Hengboriboon, L; Sayut, T; Srisathan, WA; Naru...",NaN,NaN,NaN,"Hengboriboon, Lakkana; Sayut, Thanakorn; Srisa...",NaN,NaN,Strengthening a company- customer relationship...,COGENT SOCIAL SCIENCES,...,"Social Sciences, Interdisciplinary",Emerging Sources Citation Index (ESCI),Social Sciences - Other Topics,NaN,NaN,NaN,NaN,NaN,2023-01-30,WOS:000754502400001
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10924,J,"Cassia, L; Paleari, S; Redondi, R",NaN,NaN,NaN,"Cassia, L; Paleari, S; Redondi, R",NaN,NaN,Management accounting systems and organisation...,SMALL BUSINESS ECONOMICS,...,Business; Economics; Management,Social Science Citation Index (SSCI),Business & Economics,NaN,NaN,NaN,NaN,NaN,2023-02-11,WOS:000233276600005
10925,J,"Kaplan, RS; Anderson, SR",NaN,NaN,NaN,"Kaplan, RS; Anderson, SR",NaN,NaN,Time-driven activity-based costing - Response,HARVARD BUSINESS REVIEW,...,Business; Management,Social Science Citation Index (SSCI),Business & Economics,NaN,NaN,NaN,NaN,NaN,2023-02-11,WOS:000226592700022
10926,J,"Choe, JM",NaN,NaN,NaN,"Choe, JM",NaN,NaN,Impact of management accounting information an...,JOURNAL OF INFORMATION TECHNOLOGY,...,"Computer Science, Information Systems; Informa...",Science Citation Index Expanded (SCI-EXPANDED)...,Computer Science; Information Science & Librar...,NaN,NaN,NaN,NaN,NaN,2023-02-11,WOS:000224407600005
10927,J,"Homburg, C",NaN,NaN,NaN,"Homburg, C",NaN,NaN,Improving activity-based costing heuristics by...,EUROPEAN JOURNAL OF OPERATIONAL RESEARCH,...,Management; Operations Research & Management S...,Science Citation Index Expanded (SCI-EXPANDED),Business & Economics; Operations Research & Ma...,NaN,NaN,NaN,NaN,NaN,2023-02-11,WOS:000221309800006
10928,J,"Cardinaels, E; Roodhooft, F; van Herck, G",NaN,NaN,NaN,"Cardinaels, E; Roodhooft, F; van Herck, G",NaN,NaN,Drivers of cost system development in hospital...,HEALTH POLICY,...,Health Care Sciences & Services; Health Policy...,Science Citation Index Expanded (SCI-EXPANDED)...,Health Care Sciences & Services,NaN,15212870.0,NaN,NaN,NaN,2023-02-11,WOS:000222739700011

In [5]:
SO_raw = df['SO'].to_frame()

In [6]:
SO_raw

                                             SO
0                              COGENT EDUCATION
1                  COGENT BUSINESS & MANAGEMENT
2                              COGENT EDUCATION
3         INTERNATIONAL JOURNAL OF HYPERTHERMIA
4                        COGENT SOCIAL SCIENCES
...                                         ...
10924                  SMALL BUSINESS ECONOMICS
10925                   HARVARD BUSINESS REVIEW
10926         JOURNAL OF INFORMATION TECHNOLOGY
10927  EUROPEAN JOURNAL OF OPERATIONAL RESEARCH
10928                             HEALTH POLICY

[10929 rows x 1 columns]

In [7]:
import nltk
from nltk.tag import pos_tag
from nltk.tokenize import word_tokenize
#처음에 할 때 download 해줘야 word_tokenize 된다.
#nltk.download()

In [8]:
SO_raw = SO_raw.astype('string')

In [9]:
SO_raw.dtypes

SO    string
dtype: object

In [10]:
x = word_tokenize(SO_raw['SO'][170])
y = pos_tag(x)
#for i in range(10929) :
y

[('JOURNAL', 'NN'), ('OF', 'NNP'), ('CLEANER', 'NNP'), ('PRODUCTION', 'NNP')]

In [11]:
type(pos_tag(x))

list

In [12]:
SO_raw['SO'][0]

'COGENT EDUCATION'

In [13]:
import spacy
import en_core_web_sm
nlp = spacy.load('en_core_web_sm')

In [14]:
#데이터프레임의 데이터를 불필요한 요소 제외하고 리스트로 반환
def list_making (data) : 
    token_list = []
    #nlp에 객체 할당
    text = nlp(data)
    for token in text:
    #    if token.tag_ == "NNP" :
    #        print(True)
        #print(token.text, token.pos_, token.tag_, type(token.tag_))
    #token.pos_일 때
    #    if token.pos_ == "NOUN" or "ADJ":
    #        token_list.append(token.text)
    #token.tag_일 때
    #and : NN이 포함 안됨
    #or : 모든 요소가 다 포함됨
    #이유는 모르겠지만 따로 해야 정상적으로 list 작성된다.
    #    if token.tag_ == "NNP" :
    #        token_list.append(token.text)
    #    if token.tag_ == "NN" :
    #        token_list.append(token.text)
    #    if token.tag_ == "JJ" :
    #        token_list.append(token.text)
    #아예 처음 pos분류 이후 tag에서 골라내보기
        #if token.pos_ == "NOUN" or "PROPN": 으로 묶으면 분류가 안되는데 이유?
        if token.pos_ == "NOUN" :
            token_list.append(token.text)
        elif token.pos_ == "PROPN" :
            token_list.append(token.text)
        elif token.pos_ == "ADJ" :
            token_list.append(token.text)
        elif token.pos_ == "VERB" :
            token_list.append(token.text)
        elif token.pos_ == "ADV" :
            #장소부사일 때는 추가하지 않는다.
            if token.tag_ == "EX":
                continue
            #의문사일 때는 추가하지 않는다.
            if token.tag_ == "WRB":
                continue
            token_list.append(token.text)
    #print(token_list)
    return token_list

In [15]:
#list를 string으로 변환
def listToString(str_list) :
    result = ""
    for s in str_list:
        result += s + " "
    #strip 공백제거
    return result.strip()

In [16]:
#split을 쓰기 때문에 string 객체만 받아야한다.
def first_word(data) :
    blank = []
    data_list = data.split()
    for i in range(len(data_list)) :
        blank.append(data_list[i][0])
    return blank

In [17]:
SO_copy = SO_raw.copy()

In [18]:
SO_copy

                                             SO
0                              COGENT EDUCATION
1                  COGENT BUSINESS & MANAGEMENT
2                              COGENT EDUCATION
3         INTERNATIONAL JOURNAL OF HYPERTHERMIA
4                        COGENT SOCIAL SCIENCES
...                                         ...
10924                  SMALL BUSINESS ECONOMICS
10925                   HARVARD BUSINESS REVIEW
10926         JOURNAL OF INFORMATION TECHNOLOGY
10927  EUROPEAN JOURNAL OF OPERATIONAL RESEARCH
10928                             HEALTH POLICY

[10929 rows x 1 columns]

In [20]:
for i in range(10929) :
    data = list_making(SO_copy['SO'][i])
    data = listToString(data)
    data = first_word(data)
    data = listToString(data)
    SO_copy['SO'][i] = data
    #print(SO_copy['SO'][i])

In [21]:
SO_copy

            SO
0          C E
1        C B M
2          C E
3        I J H
4        C S S
...        ...
10924    S B E
10925    H B R
10926    J I T
10927  E J O R
10928      H P

[10929 rows x 1 columns]

In [22]:
#데이터 테스트
i = 123
print(SO_raw['SO'][i])
print(SO_copy['SO'][i])

INTERNATIONAL JOURNAL OF ENVIRONMENTAL RESEARCH AND PUBLIC HEALTH
I J E R P H

In [26]:
SO = pd.concat([SO_raw,SO_copy],axis=1,ignore_index=True)

In [27]:
SO

                                              0        1
0                              COGENT EDUCATION      C E
1                  COGENT BUSINESS & MANAGEMENT    C B M
2                              COGENT EDUCATION      C E
3         INTERNATIONAL JOURNAL OF HYPERTHERMIA    I J H
4                        COGENT SOCIAL SCIENCES    C S S
...                                         ...      ...
10924                  SMALL BUSINESS ECONOMICS    S B E
10925                   HARVARD BUSINESS REVIEW    H B R
10926         JOURNAL OF INFORMATION TECHNOLOGY    J I T
10927  EUROPEAN JOURNAL OF OPERATIONAL RESEARCH  E J O R
10928                             HEALTH POLICY      H P

[10929 rows x 2 columns]

In [29]:
SO.rename(columns={1:'Abstract'},inplace = True)

In [30]:
SO.rename(columns={0:'Full Word'},inplace = True)

In [31]:
SO_test = SO.drop_duplicates(subset='Full Word', ignore_index=True)

In [ ]:
SO_test

In [32]:
#숫자,-,어떻게 할지? = KNOWLEDGE-BASED INTELLIGENT INFORMATION AND ENGINEERING SYSTEMS, PT 1, PROCEEDINGS 등
SO_test[SO_test['Full Word'].str.contains(r'([0-9]+)')].index

/var/folders/kg/dp37pbw12nzbh_18lvgp264h0000gn/T/ipykernel_1089/2259234309.py:2: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  SO_test[SO_test['Full Word'].str.contains(r'([0-9]+)')].index

Int64Index([340, 687, 701, 702, 737, 742, 744, 1131, 1267, 1736, 1873], dtype='int64')

In [26]:
SO_test.to_excel('/Users/cheon/Desktop/조교/Input Data/엑셀/SO_firstword.xlsx')